<!-- views/customers.ejs -->
<%- include("../partials/admin/header") %>

    <head>
        <link rel="stylesheet" href="/css/sidebar.css">
        <link rel="stylesheet" href="/css/editCategory.css">
    </head>

    <body>
        <div class="container">
            <!-- Sidebar -->
            <%- include("../partials/admin/sidebar") %>
                <div class="main">
                    <h1>Edit Category</h1>

                    <form action="/admin/editCategory/<%= category._id %>?page=<%= page %>" method="POST" class="form-container">
                        <div class="form-group">
                            <label>Category ID</label>
                            <input type="text" name="_id" value="<%= category._id %>" readonly>
                        </div>

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" value="<%= category.name %>" required>
                        </div>

                        <!-- Description -->
                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="description" rows="4" ><%= category.descrip || "" %></textarea>
                        </div>

                        <!-- Buttons -->
                        <button type="submit" class="btn btn-edit">Update</button>
                        <a href="/admin/categories" class="btn btn-cancel">Cancel</a>
                    </form>
                </div>
        </div>

        <%- include("../partials/admin/footer") %>

        <script>
        document.addEventListener("DOMContentLoaded", function () {
            const message = "<%= message %>";
                const type = "<%= type %>";
                if (message) {
                    Swal.fire({
                        icon: type,
                        text: message,
                        confirmButtonColor: '#007bff'
                    });
                }
        })
    </script>