<%- include("../partials/user/header") %>

    <link rel="stylesheet" href="/css/user/home.css">

    <div class="black-nav">
        <div class="black-nav-container">
            <div class="black-nav-item">
                <a href="/products?category=mens">Men</a>
            </div>
            <div class="black-nav-item">
                <a href="/products?category=women">Women</a>
            </div>
            <div class="black-nav-item">
                <a href="/products?category=kids">Kids</a>
            </div>
        </div>
    </div>

    <main>
        <section class="banner">
            <div class="banner-slider">
                <div class="slide active" style="background-image: url('/images/banner/banner1.jpg')"></div>
                <div class="slide" style="background-image: url('/images/banner/banner2.jpg')"></div>
                <div class="slide" style="background-image: url('/images/banner/banner3.jpg')"></div>
            </div>

            <div class="banner-content">
                <h1>SUMMER COLLECTION 2023</h1>
                <p>Discover our new arrivals</p>
                <a href="/products">
                    <button
                        style=" margin-top: 20px; padding: 10px 30px; background: #ff0000; 
                        color: white; border: none; border-radius: 25px; cursor: pointer;">SHOP
                        NOW</button>
                </a>
            </div>
        </section>


        <!-- Products -->
        <div class="section-title">
            <h2>New Products</h2>
            <a href="/products" class="view-all">
                View All <i class="fas fa-arrow-right"></i>
            </a>
        </div>

        <div class="products-grid">
            <% showData.slice(0,4).forEach(data=> { %>
               <a href="/products/<%= data._id %>" class="product-link">
                 <div class="product-card">
                    <div class="product-image" style="background-image: url('https://via.placeholder.com/300x400');">
                        <img src="<%= data.image %>">
                    </div>
                    <div class="product-info">
                        <h3 class="product-title">
                            <%= data.name %>
                        </h3>
                        <p class="product-price"> ₹ <%= data.price %>
                        </p>
                    </div>
                </div>
               </a>
                <% }) %>
        </div>
    </main>

    <%- include('../partials/user/footer') %>